.userInput {
    display: flex;
    justify-content: center;
}

.div{
    text-align: center;
}

.dialog-actions {
    display: flex;
    flex-flow: column;
}

.otp-field {
    width: 38px;
    margin-right: 10px;
    padding-left: 12px;
    height: 40px;
}